body {
    background-color: gray;
}


#overview .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#toggle-theme {
    background-color: lightgray;
    border: none;
    height: 30px;
}

#overview .statistics {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#overview .statistics .stats{
    background-color: white;
    border-radius: 5px;
    padding: 5px;
}

#overview .chart {
    width: 100%;
    height: 16rem;
    background-color: white;
}