* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f4f6f8;
    font-family: sans-serif;
}

.dashboard{
    display: flex;
}

#navbar {
    background-color: #2f4050;
    padding: 10px;
    width: 15%;
    height: 97.9vh;
    color: white;
}

#navbar ul li {
    margin: 18px 10px;
    list-style-type: none;
}

#overview {
    width: 100%;
    height: 97.9vh;
    padding: 20px;
}

#overview .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#toggle-theme {
    background-color: #f0f0f0;
    border: none;
    height: 30px;
    padding: 0 0.938rem;
    border-radius: 5px;
}

#overview .statistics {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#overview .statistics .stats{
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    /* margin: auto 5px; */
    box-shadow: 0 3px 18px #e5e7e8;
    width: 22rem;
}

#overview .chart {
    width: 100%;
    height: 16rem;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 3px 18px #e5e7e8;
}

#overview .item-table {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 3px 18px #e5e7e8;
    flex-direction: column;
}

#overview .item-table input {
    width: 100%;
    padding: 10px 10px;
    border: 1.5px solid #f0f0f0;
    border-radius: 5px;
    box-sizing: border-box;
    margin: 0 0 1rem 0;
}

#overview .item-table table {
    width: 100%;
    border: 1px solid #eaeaea;
    text-align: left;
    border-collapse: collapse;
}

th {
    background-color: #f0f0f0;
}

th, td {
    border: 1px solid #f0f0f0;
    padding: 0.625rem;
}

#overview .copyrights {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.25rem;
    background-color: #2f4050;
    color: white;
}

#overview .statistics, #overview .chart, #overview .item-table, #overview .copyrights {
    margin-top: 0.938rem;
}











.dropbtn {
    background-color: #2f4050;
    color: white;
    /* padding: 10px; */
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    min-width: 100px;
    /* z-index: 1; */
}

.dropdown-content a {
    color: white;
    padding: 10px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}